In [4]:
num=int(input("enter a number:"))

q=num+num*num+num*num*num
q

enter a number:3

39

In [9]:
inf=input("Enter the first name :")
ins=input('Enter the second name :')
print(ins,inf,sep=' ')

inf=input("Enter the first name :")
ins=input('Enter the second name :')
print(ins,end=' ')
print(inf)

Enter the first name :ahmed
Enter the second name :mahmoud
mahmoud ahmed
Enter the first name :maro
Enter the second name :adel
adel maro

In [17]:
x,y=input('enter two numbers:').split()
z=int(x)%int(y)
z

enter two numbers:11 9
enter two numbers:11 9

1

In [ ]:
x,y=input('enter two numbers:').split(',')
tmp=x
x=y
y=tmp
print('x = '+x+' ,y = '+y)

In [20]:
H,M,S=input().split(':')
x=int(H)*60*60
y=int(M)*60
print(x,y,S,sep=':')

1:30:25
3600:1800:25